:root {
  --colour-font: #444444;
  --colour-primary: #00C6FF;
  --colour-primary-light: rgba(0, 198, 255, 0.5);
  --colour-secondary: #FF71CD;
  --colour-secondary-light: rgba(255, 113, 205, 0.5);

  --colour-link: #004e65;
  --colour-link-hover: #00637f;
  --font-secondary: 'Quicksand', sans-serif;
  
  --radius: 6px;
  --radius-small: 2px;

  --transition: .4s;
  --webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  --box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
}

html {
	scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: var(--colour-font);
}
h1, h2, h3, h4, h5, h6, .font-secondary {
  font-family: var(--font-secondary);
}
main {
  margin-bottom: 6em;
}
main h3 {
  color: var(--colour-link);
  font-weight: bold;  
}
main > h3{
  margin-top: 3em;
  margin-bottom: 1em;
}
main a {
  color: var(--colour-link);
}
main a:hover {
  color: var(--colour-link-hover);
  text-decoration: none;
}
.font-secondary {
  font-family: var(--font-secondary);
}
.page-enter-active,
.page-leave-active {
  transition: opacity 2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
